# dependencies
node_modules
.pnpm-store

# next.js
.next/
out/

# production
build
dist

# env files
.env.local
.env*.local

# turbo
.turbo

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug
npm-debug.log*
pnpm-debug.log*
